<app-header></app-header>
<app-sidemenu></app-sidemenu>
<div class="app sidebar-mini">
    <div class="page">
        <div class="page-main" [class.opacity-2]="viewBox" [class.opacity-10]="!viewBox">
            <div class="app-content">
                <div class="side-app">
                    <div class="page-header">
                        <h4 class="page-title">Blogs</h4>
                    </div>
                    <div class="card">
                        <div class="card-header-1">
                            <div class="row">
                                <div class="col-6">
                                    <div class="card-title">
                                        <button class="btn btn-success  width-150 button-rad" routerLink="/blogs-create"><i class="fa fa-plus-circle icon-space"
                                                aria-hidden="true"></i>Create Blogs</button>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="">
                                        <form class="search-bar search-server">
                                            <div class=" has-search">
                                                <span class="fa fa-search form-control-feedback"></span>
                                                <input [formControl]="searchField" type="text" class="form-control" placeholder="Search">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="card p-4" [class.h-250]="loading" *ngIf="productList.length == 0">
                                <ngx-loading [show]="loading"></ngx-loading>
                                <div class="card-header-1">
                                    <h4 class="text-center">Products Not Available</h4>
                                </div>
                            </div>
                            <div class="card" *ngIf="productList.length != 0">
                                <div class="card-header">
                                    <div class="card-title">List of Blogs - ( {{productList.length}} )</div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered text-nowrap w-100 text-center align-middle">
                                            <thead>
                                                <tr>
                                                    <th class="wd-15p">S.no</th>
                                                    <th class="wd-15p">Header</th>
                                                    <th class="wd-15p">Image</th>
                                                    <th class="wd-15p">Date</th>
                                                    <th class="wd-15p">Status</th>
                                                    <th class="wd-15p">Edit</th>
                                                    <th class="wd-15p">Edit Image</th>
                                                    <th class="wd-15p">Value</th>
                                                    <th class="wd-15p">Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let product of productList| paginate: { itemsPerPage: 5, currentPage: sno }; let i = index">
                                                    <td>{{(i+1) + ((sno-1) * 5)}}</td>
                                                    <!-- <td>{{product.blog_heading | titlecase}}</td> -->
                                                    <td>{{product.blog_heading.length > 30 ? (product.blog_heading | slice:0:25) + "..." : product.blog_heading | titlecase}}</td>
                                                    <td >
                                                        <img [defaultImage]="defaultImage" lazyLoad="{{product.blog_details_banner}}" class="image" >
                                                    </td>
                                                    <td>{{product.created_at | date:'medium'}}</td>
                                                    <td>
                                                        <span class=" text-success status_icon m-1 " *ngIf="product.active_status == 1"><i
                                                                class="fa fa-smile-o mr-2 mobile-icon"
                                                                aria-hidden="true"></i><span class="window-text">
                                                                Active</span></span>
                                                        <span class=" text-danger status_icon m-1 " *ngIf="product.active_status == 0"><i
                                                                class="fa fa-frown-o mr-2 mobile-icon"
                                                                aria-hidden="true"></i><span class="window-text">
                                                                In-Active</span></span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-server btn-success" [routerLink]="['/blogs-edit', product.id]"><i class="fa fa-pencil-square-o fa-1x mobile-icon"></i><span class="window-text">Edit </span></button>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-server btn-success" [routerLink]="['/blogs-image', product.id]"><i class="fa fa-pencil-square-o fa-1x mobile-icon"></i><span class="window-text">Image </span></button>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-success btn-round btn-radius waves-effect waves-light m-1" *ngIf="product.active_status == 0" (click)="productSwitch(product.id)"><i
                                                                class="fa fa-check-circle mobile-icon"></i><span
                                                                class="window-text">Activate</span></button>
                                                        <button type="button" *ngIf="product.active_status == 1" class="btn btn-danger btn-round btn-radius waves-effect waves-light m-1" (click)="productSwitch(product.id)"><i
                                                                class="fa fa-times-circle mobile-icon"></i><span
                                                                class="window-text">De-Activate</span></button>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-server btn-danger" (click)="destroy(product.id)"><i
                                                                class="fa fa-trash-o fa-1x mobile-icon"></i> <span
                                                                class="window-text">Delete</span></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <pagination-controls *ngIf="productList.length > 5" (pageChange)="sno = $event"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal " id="formmodal" [class.d-block]="showPopup" [class.d-none]="!showPopup">
            <div class="modal-dialog">
                <div class="modal-content border-success animated" [class.swing]="errorMsg.length === 0" [class.shake]="errorMsg.length != 0">
                    <div class="modal-header bg-success">
                        <h5 class="modal-title text-white">{{modalBoxName}} Products</h5>
                        <button id="closeModal" type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                   
                    
                </div>
            </div>
        </div>
        
        <div class="modal " id="formmodal" [class.d-block]="stockBox" [class.d-none]="!stockBox">
           
        </div>
        <app-footer></app-footer>
    </div>
</div>
