<div class="app-header header">
  <div class="container-fluid">
    <div class="d-flex">
      <a class=" change-pasword" routerLink="/profile">
        Change Password
      </a>
      <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-toggle="sidebar"></a>

      <div (click)="logout()" class="d-flex order-lg-2 ml-auto header-right-icons header-search-icon">
        <div class="dropdown text-center selector profile-1">
          <span><img alt="profile-user" class="avatar avatar-sm brround cover-image mb-1 ml-0"
                     src="assets/images/boy-face.png"></span>
          <span class=" ml-3 d-none d-lg-block ">
                <span>{{userName | titlecase}}</span>
                        </span>
        </div>
      </div>
      <a class="header-toggler d-lg-none ml-lg-0" data-target="#headerMenuCollapse" data-toggle="collapse"
         href="javascript:void(0);">
        <span class="header-toggler-icon"></span>
      </a>
    </div>
  </div>
</div>
