<app-header></app-header>
<app-sidemenu></app-sidemenu>
<div class="app sidebar-mini">
    <div class="page">
        <div class="page-main">
            <div class="app-content">
                <div class="side-app">
                    <div class="page-header">
                        <h4 class="page-title">Cancelled Orders</h4>
                    </div>
                    <!-- <div class="card">
                        <div class="card-header-1">
                            <div class="row">
                                <div class="col-6">
                                </div>
                                <div class="col-6">
                                    <div class="">
                                        <form class="search-bar search-server">
                                            <div class=" has-search">
                                                <span class="fa fa-search form-control-feedback"></span>
                                                <input [formControl]="searchField" type="text" class="form-control" placeholder="Search">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="card p-4" [class.h-250]="loading" *ngIf="orderDetails.length == 0">
                                <ngx-loading [show]="loading"></ngx-loading>
                                <div class="card-header-1">
                                    <h4 class="text-center">Orders Not Available</h4>
                                </div>
                            </div>
                            <div class="card" *ngIf="orderDetails.length != 0">
                                <div class="card-header">
                                    <div class="card-title">List of Orders - ( {{orderDetails.length}} )</div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered text-nowrap w-100 text-center align-middle">
                                            <thead>
                                                <tr>
                                                    <th class="wd-15p">S.no</th>
                                                    <th class="wd-15p">Order Id</th>
                                                    <th class="wd-15p">Name</th>
                                                    <th class="wd-15p">Mobile</th>
                                                    <th class="wd-15p">Order Amount</th>
                                                    <th class="wd-10p">Date & Time</th>
                                                    <th class="wd-10p">View</th>
                                                    <th class="wd-25p">Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let order of orderDetails| paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                                                    <td>{{(i+1) + ((p-1) * 5)}}</td>
                                                    <td>{{order.order_id}}</td>
                                                    <td>{{order.billing_name | titlecase}}</td>
                                                    <td>{{order.billing_mobile_number}}</td>
                                                    <td>&#8377; {{order.order_overall_totall}}</td>
                                                    <td>{{order.created_at}}</td>
                                                    <td><button class="btn btn-server btn-info" [routerLink]="['/cancel-order-detail', order.order_id]" routerLinkActive="router-link-active"><i class="zmdi zmdi-eye mobile-icon"></i> view</button></td>
                                                    <td>{{order.order_status}}</td>

                                                </tr>
                                            </tbody>
                                        </table>
                                        <pagination-controls *ngIf="orderDetails.length > 5" (pageChange)="p = $event"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <app-footer></app-footer>
    </div>
</div>