<app-header></app-header>
<app-sidemenu></app-sidemenu>
<div class="app sidebar-mini">
    <div class="page">
        <div class="page-main">
            <div class="app-content">
                <div class="side-app">
                    <div class="page-header">
                        <h4 class="page-title">Change Password</h4>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                          <form #passwordChangeForm="ngForm" (ngSubmit)="changePassword()">

                          <div class="card" style="padding:23px">
                              <div class="">
                                <div class="form-group mb-5">

                                    <label for="newPassword">New Password:</label>
                                    <input type="password" id="newPassword" class="form-control" name="newPassword" [(ngModel)]="newPassword" required>



                                </div>
                              </div>

                              <div class="">
                                <div class="form-group mb-5">

                                    <label for="confirmPassword">Confirm Password:</label>
                                    <input type="password" id="confirmPassword"  class="form-control" name="confirmPassword" [(ngModel)]="confirmPassword" required>


                                </div>
                              </div>

                              <div class="col-6">
                                <button type="submit" [disabled]="passwordChangeForm.invalid">Change Password</button>
                              </div>
                            </div>
                          </form>
                        </div>


                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
