<app-header></app-header>
<app-sidemenu></app-sidemenu>
<div class="app sidebar-mini">
  <div class="page">
    <div [class.opacity-10]="!viewBox" [class.opacity-2]="viewBox" class="page-main">
      <div class="app-content">
        <div class="side-app">
          <div class="page-header">
            <h4 class="page-title">Products</h4>
          </div>
          <div class="card">
            <div class="card-header-1">
              <div class="row">
                <div class="col-6">
                  <div class="card-title">

                    <button [routerLink]="['/products']" class="btn btn-success  width-150 button-rad"
                            routerLinkActive="router-link-active"><i aria-hidden="true"
                                                                     class="zmdi zmdi-arrow-left icon-space"></i>Back
                    </button>
                  </div>
                </div>
                <!--                <div class="col-6">-->
                <!--                  <div class="">-->
                <!--                    <form class="search-bar search-server">-->
                <!--                      <div class=" has-search">-->
                <!--                        <span class="fa fa-search form-control-feedback"></span>-->
                <!--                        <input [formControl]="searchField" class="form-control" placeholder="Search" type="text">-->
                <!--                      </div>-->
                <!--                    </form>-->
                <!--                  </div>-->
                <!--                </div>-->
              </div>
            </div>
          </div>
          <div class="row" style="padding:20px;background:white">


            <form #productcreation="ngForm" autocomplete="off" id="create-form">
              <div class="row">
                <div class="col-6" style="display:none;">
                  <div class="form-group mb-5">
                    <input [(ngModel)]="editProductId" [ngModelOptions]="{standalone: true}" class="form-control"
                           id="editProductId"
                           type="hidden">
                    <ng-autocomplete #auto (inputChanged)="onChangeSearch($event)" (inputFocused)="onFocused($event)"
                                     [(ngModel)]="categoryName" [data]="categories" [itemTemplate]="itemTemplate"
                                     [ngModelOptions]="{standalone: true}"
                                     [notFoundTemplate]="notFoundTemplate" [searchKeyword]="keyword"
                                     class="category-details" id="categoryName"
                                     notFoundText="Category Not Found" placeHolder="Category Name">
                    </ng-autocomplete>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group mb-5">
                    <label>Select Product Type</label>
                    <select [(ngModel)]="product_type" [ngModelOptions]="{standalone: true}" class="form-control">
                      <option value="np">Normal Product</option>
                      <option value="dp">Digital Download</option>
                    </select>
                  </div>
                </div>
                <div *ngIf="product_type == 'np'" class="col-6">
                  <div class="form-group mb-5">
                    <input [(ngModel)]="editSubCategoryId" [ngModelOptions]="{standalone: true}" class="form-control"
                           id="editSubCategoryId"
                           type="hidden">
                    <ng-autocomplete #auto (inputChanged)="onChangeSearch($event)" (inputFocused)="onFocused($event)"
                                     [(ngModel)]="SubCategoryId" [data]="subcategory" [itemTemplate]="itemTemplate"
                                     [ngModelOptions]="{standalone: true}"
                                     [notFoundTemplate]="notFoundTemplate" [searchKeyword]="keyword"
                                     class="category-details" id="SubCategoryId"
                                     notFoundText="sub Category Not Found" placeHolder="Category Name">
                    </ng-autocomplete>
                  </div>
                </div>
                <div *ngIf="product_type == 'np'" class="col-6" style="display:none">
                  <input [(ngModel)]="editofferTime" [ngModelOptions]="{standalone: true}" class="form-control"
                         id="editSubCategoryId"
                         type="hidden">
                  <input [(ngModel)]="offerTime" [ngModelOptions]="{standalone: true}"
                         class="category-details form-control"
                         type="datetime-local">
                </div>


                <div *ngIf="product_type == 'np'" class="col-6">
                  <label>On Sale</label>
                  <input [(ngModel)]="on_sale" [ngModelOptions]="{standalone: true}" name="checkbox" type="checkbox">


                  <label>Best Seller</label>
                  <input [(ngModel)]="best_seller" [ngModelOptions]="{standalone: true}" name="checkbox"
                         type="checkbox">


                </div>


              </div>
              <div class="row">

                <div class="col-6">
                  <ng-template #itemTemplate let-item>
                    <div class="item">
                      <span [innerHTML]="item.name"></span>
                    </div>
                  </ng-template>
                </div>
                <div class="col-6">
                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                  <p *ngIf="errorMsg.category_id" class="invalid-error">Category Name field is required
                  </p>
                </div>
              </div>
              <div *ngIf="product_type == 'np'" class="row">
                <div class="col-6" style="display: none">
                  <div class="form-group  ">
                    <angular2-multiselect #tagNameDropDown (keyup.enter)="openSize($event)"
                                          (onDeSelectAll)="onDeSelectAllSizes($event)" [(ngModel)]="tagNameArray"
                                          [data]="tagNameList"
                                          [ngModelOptions]="{standalone: true}"
                                          [settings]="TagNameSettings"></angular2-multiselect>
                    <p *ngIf="errorMsg.product_tagName" class="invalid-error">{{errorMsg.product_tagName}}
                    </p>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <angular2-multiselect #sizeDropDown (keyup.enter)="openSize($event)"
                                          (onDeSelectAll)="onDeSelectAllSizes($event)"
                                          [(ngModel)]="sizeArray" [data]="sizesList"
                                          [ngModelOptions]="{standalone: true}"
                                          [settings]="sizeSettings"></angular2-multiselect>
                    <p *ngIf="errorMsg.product_weight" class="invalid-error">{{errorMsg.product_weight}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div *ngIf="product_type == 'np'" class="col-6">
                  <div class="form-group">
                    <angular2-multiselect #colorDropDown (keyup.enter)="openColor($event)"
                                          (onDeSelectAll)="onDeSelectAllcolor($event)"
                                          [(ngModel)]="colorArray" [data]="colorList"
                                          [ngModelOptions]="{standalone: true}"
                                          [settings]="colorSettings"></angular2-multiselect>
                    <p *ngIf="errorMsg.product_color" class="invalid-error">{{errorMsg.product_color}}
                    </p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <!-- <input [(ngModel)]="productName" type="text" class="form-control" id="productName" placeholder="Enter Product Name" [ngModelOptions]="{standalone: true}" (keypress)="keyPress($event, modalBoxName, editProductId)"> -->
                    <input [(ngModel)]="productName" [ngModelOptions]="{standalone: true}" class="form-control"
                           id="productName"
                           placeholder="Enter Product Name" type="text">
                    <p *ngIf="errorMsg.product_name" class="invalid-error">{{errorMsg.product_name}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="row" style="position: relative; bottom: 20px;">

                <div class="col-12">
                  <br>
                  <h5>{{product_type == 'np' ? 'Size Price' : 'Digital Download Price Details'}}</h5>
                </div>
                <div class="col-12">
                  <div class="row">


                    <div *ngFor="let weight of sizeArray; let i = index;" class="col-12">
                      <div class="form-group" style="margin-bottom: 0.1rem !important;">
                        <label for="{{weight.productPrice}}"><small class="muted"
                                                                    style="display: flex; justify-content: center; position: relative;top: 10px;">Price
                          for <h6> &nbsp;&nbsp;{{weight.itemName}}</h6></small></label>
                        <input [(ngModel)]="weight.productPrice" [ngModelOptions]="{standalone: true}"
                               [ngModelOptions]="{standalone: true}"
                               appNumbersOnly class="form-control" id="productPrice"
                               name="productPrice-{{i}}"
                               placeholder="Price for{{weight.itemName}}" type="text">

                        <!-- <input   [(ngModel)]="productPrice" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="productPrice" placeholder="Price for{{weight.itemName}}" [ngModelOptions]="{standalone: true}" (keypress)="keyPress($event, modalBoxName, editProductId)"
                        appNumbersOnly name="productPrice-{{i}}"> -->

                        <p *ngIf="errorMsg.product_price" class="invalid-error">{{errorMsg.product_price}}
                        </p>
                      </div>
                      <div class="form-group" style="margin-bottom: 0.1rem !important;">
                        <label for="{{weight.productDiscPrice}}"><small class="muted"
                                                                        style="display: flex; justify-content: center; position: relative;top: 10px;">Discount
                          Price for <h6> &nbsp;&nbsp;{{weight.itemName}}</h6></small></label>
                        <input [(ngModel)]="weight.productDiscPrice" [ngModelOptions]="{standalone: true}"
                               [ngModelOptions]="{standalone: true}"
                               appNumbersOnly class="form-control"
                               id="productDiscPrice"
                               name="productDiscPrice-{{i}}"
                               placeholder="Discount Price for {{weight.itemName}}" type="text">
                        <!-- <input [(ngModel)]="productDiscPrice" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="productDiscPrice" placeholder="Discount Price for {{weight.itemName}}" [ngModelOptions]="{standalone: true}" (keypress)="keyPress($event, modalBoxName, editProductId)"
                        appNumbersOnly name="productDiscPrice-{{i}}"> -->
                        <p *ngIf="errorMsg.product_discount_price"
                           class="invalid-error">{{errorMsg.product_discount_price}}
                        </p>
                      </div>
                    </div>


                  </div>
                </div>


                <div class="col-6" style="display:none">

                  <div class="row">


                    <div *ngFor="let weight of colorArray; let i = index;" class="col-12">
                      <div class="form-group" style="margin-bottom: 0.1rem !important;">
                        <label for="{{weight.productPrice}}"><small class="muted"
                                                                    style="display: flex; justify-content: center; position: relative;top: 10px;">Price
                          for <h6> &nbsp;&nbsp;{{weight.itemName}}</h6></small></label>
                        <input [(ngModel)]="weight.productPrice" [ngModelOptions]="{standalone: true}"
                               [ngModelOptions]="{standalone: true}"
                               appNumbersOnly class="form-control" id="productPrice"
                               name="productPrice-{{i}}"
                               placeholder="Price for{{weight.itemName}}" type="text">

                        <!-- <input   [(ngModel)]="productPrice" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="productPrice" placeholder="Price for{{weight.itemName}}" [ngModelOptions]="{standalone: true}" (keypress)="keyPress($event, modalBoxName, editProductId)"
                        appNumbersOnly name="productPrice-{{i}}"> -->

                        <p *ngIf="errorMsg.product_price" class="invalid-error">{{errorMsg.product_price}}
                        </p>
                      </div>
                      <div class="form-group" style="margin-bottom: 0.1rem !important;">
                        <label for="{{weight.productDiscPrice}}"><small class="muted"
                                                                        style="display: flex; justify-content: center; position: relative;top: 10px;">Discount
                          Price for <h6> &nbsp;&nbsp;{{weight.itemName}}</h6></small></label>
                        <input [(ngModel)]="weight.productDiscPrice" [ngModelOptions]="{standalone: true}"
                               [ngModelOptions]="{standalone: true}"
                               appNumbersOnly class="form-control"
                               id="productDiscPrice"
                               name="productDiscPrice-{{i}}"
                               placeholder="Discount Price for {{weight.itemName}}" type="text">
                        <!-- <input [(ngModel)]="productDiscPrice" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="productDiscPrice" placeholder="Discount Price for {{weight.itemName}}" [ngModelOptions]="{standalone: true}" (keypress)="keyPress($event, modalBoxName, editProductId)"
                        appNumbersOnly name="productDiscPrice-{{i}}"> -->
                        <p *ngIf="errorMsg.product_discount_price"
                           class="invalid-error">{{errorMsg.product_discount_price}}
                        </p>
                      </div>
                    </div>


                  </div>


                </div>

                <div class="col-6" style="display:none">

                  <div class="row">
                    <div class="form-group" style="margin-bottom: 0.1rem !important;">
                      <label>Select Default Price</label>
                      <select [(ngModel)]="selectedSize" [ngModelOptions]="{standalone: true}" class="form-control">

                        <option *ngFor="let weight of sizeArray; let i = index;" value="{{weight.id}}">
                          {{weight.itemName}}

                        </option>
                      </select>

                    </div>


                  </div>
                </div>

                <div class="col-6" style="display:none">

                  <div class="row">
                    <div class="form-group" style="margin-bottom: 0.1rem !important;">
                      <label>Select Default Color</label>
                      <select [(ngModel)]="selectedColor" [ngModelOptions]="{standalone: true}" class="form-control">
                        <option *ngFor="let weight of colorArray; let i = index;" value="{{weight.id}}">
                          {{weight.itemName}}
                        </option>
                      </select>

                    </div>

                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Product Desc </label>
                <angular-editor [(ngModel)]="productDesc" [ngModelOptions]="{standalone: true}"
                                [placeholder]="'Enter text here...'"></angular-editor>
                <!--
                 <textarea [(ngModel)]="productDesc" class="form-control" id="productDesc" placeholder="Enter Product Description" [ngModelOptions]="{standalone: true}" >
                 </textarea> -->


                <!-- <textarea [(ngModel)]="productDesc" class="form-control" id="productDesc" placeholder="Enter Product Description" [ngModelOptions]="{standalone: true}" (keypress)="keyPress($event, modalBoxName, editProductId)">
                </textarea> -->
                <!-- <angular-e [(ngModel)]="productDesc" class="form-control" id="productDesc" placeholder="Enter Product Description" [ngModelOptions]="{standalone: true}" (keypress)="keyPress($event, modalBoxName, editProductId)">
                </angular-e> -->
                <p *ngIf="errorMsg.product_description" class="invalid-error">
                  {{errorMsg.product_description}}</p>
              </div>

              <div class="form-group">
                <label>Product Short Desc </label>

                <angular-editor [(ngModel)]="product_description_sort" [ngModelOptions]="{standalone: true}"
                                [placeholder]="'Enter text here...'"></angular-editor>
                <div>

                </div>
                <!--  <textarea [(ngModel)]="product_description_sort" class="form-control" id="product_description_sort" placeholder="Enter Product Sort Description " [ngModelOptions]="{standalone: true}" >
                 </textarea> -->


                <!-- <textarea [(ngModel)]="product_description_sort" class="form-control" id="product_description_sort" placeholder="Enter Product Description" [ngModelOptions]="{standalone: true}" (keypress)="keyPress($event, modalBoxName, editProductId)">
                </textarea> -->
                <!-- <angular-e [(ngModel)]="product_description_sort" class="form-control" id="product_description_sort" placeholder="Enter Product Description" [ngModelOptions]="{standalone: true}" (keypress)="keyPress($event, modalBoxName, editProductId)">
                </angular-e> -->
                <p *ngIf="errorMsg.product_description" class="invalid-error">
                  {{errorMsg.product_description}}</p>
              </div>

              <div class="form-group">

                <input [(ngModel)]="youtube_link" [ngModelOptions]="{standalone: true}"
                       class="category-details form-control"
                       placeholder="Enter Youtube Link" type="text">
              </div>
              <button (click)="store(productcreation)" *ngIf="modalBoxName === 'Create'"
                      [ngClass]="{'btn-loading disabled': loadingBtn}"
                      class="btn btn-success" type="button"><i
                class="fa fa-check-square-o"></i> {{modalBoxName}} </button>
              <button (click)="update(editProductId)" *ngIf="modalBoxName === 'Edit'"
                      [ngClass]="{'btn-loading disabled': loadingBtn}"
                      class="btn btn-success" type="button"><i
                class="fa fa-check-square-o"></i> {{modalBoxName}} </button>

            </form>

          </div>
        </div>
      </div>
    </div>
    <div [class.d-block]="showPopup" [class.d-none]="!showPopup" class="modal " id="formmodal">
      <div class="modal-dialog modal-lg modal-lg-c">
        <div [class.shake]="errorMsg.length != 0" [class.swing]="errorMsg.length === 0"
             class="modal-content border-dark animated">
          <div class="modal-header bg-dark">
            <h5 class="modal-title text-white">{{modalBoxName}} Products</h5>
            <button (click)="popUpClose()" aria-label="Close" class="close text-white" data-dismiss="modal"
                    id="closeModal"
                    type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
            <button (click)="popUpClose()" class="btn btn-danger" data-dismiss="modal" type="button"><i
              class="fa fa-times"></i> Cancel
            </button>

          </div>
        </div>
      </div>
    </div>
    <div [class.d-block]="viewBox" [class.d-none]="!viewBox" class="modal ">
      <div class="container boder-bottom-li animated bounceInDown">
        <div class="title">{{productName}} - {{categoryName}}</div>
        <button (click)="popUpClose()" class="view-close btn-danger"></button>
        <div class="text">
          <div class="row">
            <div class="col-sm-12 ">
              <div class="heading">
              </div>
              <div class="ml-50">
                <div class="body-text popup-slide">
                  <div class="carousel slide" data-ride="carousel" data-wrap="false" id="carouselExampleControls">
                    <div class="carousel-inner">
                      <div *ngFor="let banner of productImages; let i = index" [class.active]="i === 0"
                           class="carousel-item ">
                        <img alt="First slide" class="d-block w-100" src="{{banner.product_image}}">
                      </div>
                    </div>
                    <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleControls" role="button">
                      <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" data-slide="next" href="#carouselExampleControls" role="button">
                      <span aria-hidden="true" class="carousel-control-next-icon"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="view-card">
              <div class="card-header">
                <h4 class="mb-1">Prices</h4>
              </div>
              <div class="container-fluid">
                <div class="form-row">
                  <div class="col-6">
                    <input class="form-control text-center" disabled type="text" value="Price - ₹ {{productPrice}}">
                  </div>
                  <div class="col-6">
                    <input class="form-control text-center" disabled
                           type="text" value="Discounted Price - ₹ {{productDiscPrice}}">
                  </div>
                </div>
              </div>
            </div>
            <div class="view-card">
              <div class="card-header">
                <h4 class="mb-1">Description</h4>
              </div>
              <div class="px-4 text-left card-body">
                <p>{{productDesc}}</p>
              </div>
              <div class="card-header">
                <h4 class="mb-1">Sizes</h4>
              </div>
              <div *ngIf="sizeArray.length" class="px-4 text-left card-body">
                <span *ngFor="let item of sizeArray">{{item.itemName}}, </span>
              </div>
              <div *ngIf="!sizeArray.length" class="px-4 text-left card-body">
                <span>No Sizes Available</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [class.d-block]="stockBox" [class.d-none]="!stockBox" class="modal " id="formmodal">
      <div class="modal-dialog">
        <div [class.shake]="errorMsg.length != 0" [class.swing]="errorMsg.length === 0"
             class="modal-content border-dark animated">
          <div class="modal-header bg-dark">
            <h5 class="modal-title text-white">{{modalBoxName}} - {{stockProductName}}</h5>
            <button (click)="popUpClose()" aria-label="Close" class="close text-white" data-dismiss="modal"
                    id="closeModal"
                    type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="stockForm" autocomplete="off">
              <div *ngFor="let stock of productStocks;let i = index" class="form-group">
                <label *ngIf="stock.size_id" for="size">Size ({{stock.size[0].size_name}}):</label>
                <!-- <input *ngIf="stock.size_id" type="text" class="form-control" id={{stock.size[0].size_name}} [formControlName]="stock.id" placeholder="Enter Quantity Of {{stock.size[0].size_name}}" (keypress)="$event.keyCode == 13 ? updateProductStocks() : null" appNumbersOnly>
                <input *ngIf="!stock.size_id" type="text" class="form-control" [formControlName]="stock.id" placeholder="Enter Quantity Of {{stockProductName}}" (keypress)="$event.keyCode == 13 ? updateProductStocks() : null" appNumbersOnly> -->
                <input *ngIf="stock.size_id" [formControlName]="stock.id" appNumbersOnly class="form-control"
                       id="{{stock.size[0].size_name}}" placeholder="Enter Quantity Of {{stock.size[0].size_name}}"
                       type="text">
                <input *ngIf="!stock.size_id" [formControlName]="stock.id" appNumbersOnly class="form-control"
                       placeholder="Enter Quantity Of {{stockProductName}}" type="text">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button (click)="outOfStocks()" class="btn btn-warning input-group-btn"
                    data-dismiss="modal" type="button"><i
              class="fa fa-thumbs-down"></i> Out Of Stock
            </button>
            <button (click)="popUpClose()" class="btn btn-danger" data-dismiss="modal" type="button"><i
              class="fa fa-times"></i> Cancel
            </button>
            <button (click)="updateProductStocks()" [ngClass]="{'btn-loading disabled': loadingBtn}"
                    class="btn btn-success"
                    type="button"><i class="fa fa-check-square-o"></i> Update
            </button>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
